@use '../abstracts/mixins' as *;

.container {
    max-width: 1200px;
    margin: 0 auto;

    @include screen-breakpoints(lg) {
        max-width: 1500px;
    }
}

.table__container {
    margin-top: 0.5rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

    @include screen-breakpoints(md) {
        text-align: left;
    }

    th,
    td {
        border: 1px solid #000;
    }

    .table__row {
        line-height: 1;

        &--headings {
            font-size: 0.9rem;

            th,
            td {
                padding: 1rem 0.1rem;

                @include screen-breakpoints(md) {
                    padding: 1.2rem 1rem;
                }
            }
        }

        &--body {
            font-size: 1rem;

            th,
            td {
                padding: 1rem 0.1rem;

                @include screen-breakpoints(md) {
                    padding: 1.2rem 1rem;
                }
            }
        }
    }

    tbody {
        font-weight: normal;

        th {
            font-weight: inherit;
        }
    }
}
