@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
        Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; // Anti-aliasing for smoother font rendering on macOS
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

h3 {
    @include heading-default;
    font-size: $heading-font-size-md;
}

h4 {
    @include heading-default;
    font-size: $heading-font-size-sm;
}

p {
    @include description-default;
}

mark {
    background: #eab308;
}

.highlight-black {
    font-weight: bolder;
}

.highlight-light {
    font-weight: 300;
    color: #075985;
}

.block-text {
    display: block;
}

.list-nb {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.box {
    padding: $box-padding-sm;

    @include screen-breakpoints(md) {
        padding: $box-padding-md;
    }
    @include screen-breakpoints(lg) {
        padding: $box-padding-lg;
    }
}

.space-top {
    margin-top: 1rem;
}

.space-bottom {
    margin-bottom: 1rem;
}
